* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

h1 {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  text-align: center;
}

.header {
  width: 300px;
  height: 30%;
  overflow: hidden;
}

.brushes {
  background-color: mediumspringgreen;
}

.frames {
  background-color: lightcoral;
}

.paint {
  background-color: skyblue;
}

p,
h4 {
  font-family: Helvetica;
}

.price {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
